*{
	box-sizing: border-box;
	
	}
body {  
	width: 100%px;
	height: 1200px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	margin: auto;
	 }

.pos-f-t{

	color:white;
	background-color: #343a40;
	padding-left: 3%;
	padding-top: 1%;
}

body > header > div.pos-f-t > div > div > div:nth-child(1){
padding-right: 40%;
margin-left: 4%;
left:20px;

}
body > header > div > div.container-fluid > div > div:nth-child(1){
	position:fixed;
	min-width: 110%;
}
.navbar{


width: 100%;

}

.title{
	text-align: center;
}

.text-white {
	text-align: center;
}
/*
.container{
	
	margin-left:10%;
	width: 80%;
	margin-right:10%;
	
}*/
.Chicken{
	wi
	text-align: center;
	background-color: grey;
	padding-right: 10%;
	padding-left: 10%;
	
}


@media (min-width: 992px){

.navbar-toggler{
		visibility: hidden;
		}
.collapse  {
	visibility: hidden;
	}
}
	

@media (min-width: 768px) and (max-width: 991px) {
	
.navbar-toggler{
		visibility: hidden;
		}
/*}
small screen*/

@media (max-width: 768px) {
		
.navbar-toggler{
	visibility: visible; 

		}
}

/*@media (max-width:231px){
body > header > div.pos-f-t > div > div > div:nth-child(2){



	margin-left: 10%;
	padding-bottom: 9%;
	margin:0px;
	padding: 0px;
	

}*/